<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Generador de QR</title>
</head>

<body class="bg-gray-300">

    <nav class="bg-gray-900 isolate">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button"
                        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                            alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="/input_qr" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                                aria-current="page">Generador de QR</a>
                            <a href="/products"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cantina</a>
                            <a href="/download_qr"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Descargar
                                qr</a>
                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Estadisticas</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <a href="/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                            stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>

        
    </nav>
    <main class="w-full">
        <!-- Newsletter section -->
        <div class="mx-auto mt-20 max-w-7xl  sm:px-6 lg:px-8">
            <div
                class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-32">
                <h2 class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-white sm:text-4xl">
                    Generar imagenes QR </h2>
                <p class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-gray-300">Genera imagenes QR con
                    codigo encriptado, para posteriormente venderlos como entradas! Valido 1 persona</p>
                <form class="mx-auto mt-10 flex flex-col sm:flex-row items-center justify-center gap-y-2 sm:gap-y-0 gap-x-4" action="/generate_qr" method="post">
                    <label for="number-tickets" class="sr-only">Numero de imagenes</label>
                    <input id="number-tickets" class="w-20 hidden sm:flex items-center text-left space-x-3 px-4 h-12  shadow-sm rounded-lg text-slate-400 dark:bg-slate-800  dark:text-slate-300 " name="num_qr" type="number" required min="1"
                        class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6"
                        placeholder="Nº">
                    <input for="party-name" class="hidden hidden sm:flex items-center text-left space-x-3 px-4 h-12  shadow-sm rounded-lg text-slate-400 dark:bg-slate-800  dark:text-slate-300 " id="party-name" name="party_name" type="text" required placeholder="Nombre y edicion de la fiesta">
                    <button type="submit"
                        class="flex-none rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Generar
                        Imagenes
                    </button>
                </form>
                <svg viewBox="0 0 1024 1024"
                    class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2" aria-hidden="true">
                    <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
                        fill-opacity="0.7" />
                    <defs>
                        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641" cx="0" cy="0" r="1"
                            gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
                            <stop stop-color="#7775D6" />
                            <stop offset="1" stop-color="#E935C1" stop-opacity="0" />
                        </radialGradient>
                    </defs>
                </svg>
            </div>
        </div>

        <div class="max-w-7xl flex justify-center">
            {% if qr_code %}
            <h2>QR Codes generados para: {{ data }}</h2>
            <a href="{{ qr_code }}" download>Descargar ZIP</a>
            {% endif %}
        </div>



        <!-- <h1>Generador de QR</h1>
    
        <form action="/generate_qr" method="post">
            <label for="data">Datos:</label>
            <input type="text" name="data" required>
            <label for="num_qr">Número de QRs:</label>
            <input type="number" name="num_qr" value="1" min="1">
            <button type="submit">Generar y Descargar QR</button>
        </form>
    
        {% if qr_code %}
            <h2>QR Codes generados para: {{ data }}</h2>
            <a href="{{ qr_code }}" download>Descargar ZIP</a>
        {% endif %} -->


    </main>
</body>

</html>